loading.png
format: RGBA8888
filter: Linear,Linear
repeat: none
loading
  rotate: false
  xy: 406, 608
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 1
loading
  rotate: false
  xy: 406, 204
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 5
loading
  rotate: false
  xy: 608, 2
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 11
loading
  rotate: false
  xy: 2, 608
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 15
loading
  rotate: false
  xy: 204, 810
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 6
loading
  rotate: false
  xy: 406, 406
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 2
loading
  rotate: false
  xy: 2, 406
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 16
loading
  rotate: false
  xy: 406, 2
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 12
loading
  rotate: false
  xy: 204, 608
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 7
loading
  rotate: false
  xy: 810, 204
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 3
loading
  rotate: false
  xy: 2, 204
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 17
loading
  rotate: false
  xy: 204, 2
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 13
loading
  rotate: false
  xy: 204, 406
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 8
loading
  rotate: false
  xy: 608, 204
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 4
loading
  rotate: false
  xy: 2, 2
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 18
loading
  rotate: false
  xy: 810, 2
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 10
loading
  rotate: false
  xy: 2, 810
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 14
loading
  rotate: false
  xy: 204, 204
  size: 200, 200
  orig: 200, 200
  offset: 0, 0
  index: 9
